.page-container{
    height: 100vh;
    background-color: #e5e7eb;
}
.page-content{
    display: flex;
    align-items: center;
    justify-content: center;
   
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.chat-card{
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow:  0 10px 15px -3px rgba(0, 0, 0, 0.1),
                0 4px 6px -4px rgba(0, 0, 0, 0.1);

    width: 100%;
    max-width: 92rem;         
    height: calc(100vh - 7rem);   
}
.chat-container{
    display: flex;
   border-radius: 0.5rem;
    height: 100%;
    overflow: hidden;

}