.user-form{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

}
.user-info{
    min-width: 15rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;

}
.user-photo {
    width: 15rem ;
    height: 8rem ;
    
    border: 1px solid #fff;
    border-radius: 7px;
    overflow: hidden;

}
.photo-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.photo-content img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}