
 @import "tailwindcss";
/* @plugin "daisyui";  */

.chat-messages{
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
  .chat-start{
    align-self:flex-start;
}
.chat-end{
    align-self:flex-end;
 }  
.chat-image {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    /* border: 1px solid #d1d5db; */
    overflow: hidden;
}
/* .avatar-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.chat-header time{
     font-size: 0.75rem;
     opacity: 0.5;
     margin-left: 0.5rem;

}
.chat-header{
    display: flex;
    flex-direction: column;
}
.chat-bubble img{
    border-radius: 0.375rem;
    margin-bottom: 0.5rem;
    max-width: 100%;
}
@media (max-width: 640px) {
    .chat-bubble img {
        max-width: 200px;
    }
}