.chat-header {
    padding: 10px;
    padding-left: 20px;
}
.chat-header-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d1d1d1;
}
.chat-user{
    display: flex;
    align-items: center;
    gap: 12px;
}
.avtar{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.avtar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.user-name{
    margin-bottom: 0.2rem;
    font-weight: 500;
}

.userstatus{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7)
}
