.navbar{
    padding-bottom: 20px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 25px;
    color: #49557e;
    font-size: 15px;
    cursor: pointer;

}
