.message-input{
    width: 100%;
    padding:1rem;
}
.preview-wrapper{
    margin-bottom: 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
.preview-box{
    position: relative;
}
.preview-image{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 0.75rem;
    border: 1px solid #3f3f46;

}
.remove-btn{
    position: absolute;
    top: -0.375rem;
    right: -0.375rem;
    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;
    background-color: #d1d5db;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}
.remove-icons{
    font-size: 0.9rem;
    line-height: 1;
}
.from-row{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.from-row .grow{
   flex: 1;
   display: flex;
   gap: 0.5rem;
}
.input-text{
  width:100%;
  box-sizing: border-box;
  padding: 0.35rem 0.6rem;
  border: 1px solid #cfcfcf ;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  outline:none;
  background-color: #fff;   
}
.input-text:focus{
    border-color: #6b8cff;  
    box-shadow:  0 0 0 3px rgba(107, 140, 255, 0.12);

}
@media (max-width: 640px){
    .input-text{
        font-size: 1rem;
        padding: 0.5rem o.75rem;
    }
}
.hidden{
    display: none;
}
.btnn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.35rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 0.357rem;
}
.btnn:focus{
    outline: none;
}
.btnn-sm-hidden{
    display: none;
}
@media (max-width: 640px){
    .btnn-sm-hidden{
        display: inline-flex;

    }
   
}
.bttn{
    display: inline-block;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1;
    font-weight: 500;
    border-radius: 0.375rem;
    border: none;
    color: #a1a1aa;
    cursor:pointer;
    transition: background-color .15s ease, opacity .15s ease;
}
.bttn:hover:not(:disabled){

    background-color: #d9d9e5;
}
.bttn:disabled{
    cursor: not-allowed;
    opacity: 0.6;
}