name: CICD OF TECHCHAUTARI

on: 
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20, 22,24]

    
    steps:
      - name: checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - name: setup node${{matrix.node-version}}
        uses: actions/setup-node@v4
        with:
          node-version: ${{matrix.node-version}}


      - name: install frontend dependicies 
        working-directory: ./frontend
        run: |
          npm ci     

      - name: install backend dependicies
        working-directory: ./backend
        run: npm ci
        
      - name: build frontend
        working-directory: ./frontend
        run: npm run build --if-present
        
      - name: build backend
        working-directory: ./backend
        run: npm run build --if-present
        
      - name: build frontend docker image
        run: docker build -f ./frontend/Dockerfile -t my-app:latest ./frontend


      - name: build backend docker image
        run: docker build -f ./backend/Dockerfile -t my-app:latest ./backend  



             
  compile_backend:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        node-version: [20,22,24]
        
    steps:
      - name: checkout code
        uses: actions/checkout@v4
        with: 
          fetch-depth: 0

      - name: setup node${{matrix.node-version}}
        uses: actions/setup-node@v4
        with:
          node-version: ${{matrix.node-version}}
      - name: install dependicies
        working-directory: ./backend
        run: npm install 

      - name: compile backend
        working-directory: ./backend
        run: |
          npx tsc --noEmit



  compile_frontend:
    runs-on: ubuntu-latest
    needs: compile_backend
    strategy:
      matrix:
        node-version: [18,20,22,24]
        
    steps:
      - name: checkout code
        uses: actions/checkout@v4
        with: 
          fetch-depth: 0

      - name: setup node${{matrix.node-version}}
        uses: actions/setup-node@v4
        with:
          node-version: ${{matrix.node-version}}

      - name: cache dependicies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{runner.os}}-node-${{hashFiles('**package-lock.json')}} 
          
      - name: lint frontend  
        working-directory: ./frontend
        run: |
          npm ci
          npx eslint --ext .js,.jsx


  Gitleaks_setup:
    runs-on: ubuntu-latest
    needs: compile_frontend
    strategy:
      matrix:
        node-version: [18,20,22,24]
        
    steps:
      - name: checkout code
        uses: actions/checkout@v4
        with: 
          fetch-depth: 0

      - name: setup node${{matrix.node-version}}
        uses: actions/setup-node@v4
        with:
          node-version: ${{matrix.node-version}}

      - name: gitleaks setup
        run: |
          gitleaks detect --source . --exit-code 1


  Sonar_frontend:
    runs-on: ubuntu-latest
    needs: Gitleaks_setup
    
    steps:
      - name: checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: sonarQueb setup
        uses: SonarSource/sonarcloud-github-action@v2
        with:
          projectBaseDir: frontend
          args: >
            -Dsonar.ProjectKey = lovkush7_techchautari
            -Dsonar.Organization = lovkush7


        env:
          SONAR_TOKEN: ${{secrets.Sonar_Token}}      



  Sonar_backend:
    runs-on: ubuntu-latest
    needs: Sonar_frontend
    
    steps:
      - name: checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: sonarQueb setup
        uses: SonarSource/sonarcloud-github-action@v2
        with:
          projectBaseDir: backend
          args: >
            -Dsonar.ProjectKey = lovkush7_techchautari
            -Dsonar.Organization = lovkush7


        env:
          SONAR_TOKEN: ${{secrets.Sonar_Token}}      
        


  docker_backend_build_push_images:
    runs-on: ubuntu-latest
    needs:  Sonar_backend

    steps:
      - name: checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
       
      - name: docker login
        uses: docker/login-action@v3
        with:
          Username: ${{secrets.DOCKER_USERNAME}}
          Password: ${{secrets.DOCKER_PASSWORD}}      

      - name: SETUP QEMU
        uses: docker/setup-qemu-action@v3
        
        
      - name: setup docker buildx
        uses: docker/setup-buildx-action@v3
        
      - name: docker build and push images
        uses: docker/build-push-action@v6
        with:
          context: ./Backend
          push: true
          tags: myapp/Backend:latest
          file: ./Backend/Dockerfile




           
  docker_frontend_build_push_images:
    runs-on: ubuntu-latest
    needs:   docker_backend_build_push_images

    steps:
      - name: checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
       
      - name: docker login
        uses: docker/login-action@v3
        with:
          Username: ${{secrets.DOCKER_USERNAME}}
          Password: ${{secrets.DOCKER_PASSWORD}}      

      - name: SETUP QEMU
        uses: docker/setup-qemu-action@v3
        
        
      - name: setup docker buildx
        uses: docker/setup-buildx-action@v3
        
      - name: docker build and push images
        uses: docker/build-push-action@v6
        with:
          context: ./fronted
          push: true
          tags: myapp/frontend:latest
          file: ./frontend/Dockerfile
  



  trivy_fs_scan:
        runs-on: ubuntu-latest
        needs:  docker_frontend_build_push_images
        
        
        steps:
            - name: checkout code
              uses: actions/checkout@v4
              with: 
                fetch-depth: 0

            - name: trivy vulnabalities scan
              uses: aquasecurity/trivy-action@v0.33.1
              with:
                scan-type: 'fs'
                scan-ref: '.'
                format: table
                vuln-type: "os,library"
                ignore-unfixed: true
                severity: "CRITICAL,HIGH"    

                 
