name: TECHCHAUTARI CI/CD Pipeline

on: 
    push:
        branches: ["main"]


jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix: 
                node-version: [20,22,24]

        steps:
            - name: checkout code 
              uses: actions/checkout@v4
              with: 
                fetch-depth: 0
                
            - name: setup node${{matrix.node-version}}
              uses: actions/setup-node@v4
              with:
                node-version: ${{matrix.node-version}}

            - name: install frontend dependicies
              working-directory: ./frontend
              run: npm ci 

            - name: install backend dependicies
              working-directory: ./backend
              run: npm ci    

            - name: build backend  
              working-directory: ./backend
              run: npm run build --if-present

            - name: build frontend
              working-directory: ./frontend 
              run: npm run build --if-present

            - name: build frontend docker image
              working-directory: ./frontend
              run: docker build -f ./frontend/Dockerfile -t myapp:latest ./frontend

            - name: build backend docker image
              working-directory: ./backend
              run: docker build -f ./backend/Dockerfile -t myapp:latest ./backend

            
              
    compile_backend:
        runs-on: ubuntu-latest
        needs: build
        strategy:
            matrix:
                node-version: [20,22,24]           


        steps:
            - name: checkout code 
              uses: actions/checkout@v4
              with: 
                fetch-depth: 0
                
            - name: setup node${{matrix.node-version}}
              uses: actions/setup-node@v4
              with:
                node-version: ${{matrix.node-version}}

            - name: install backend dependicies
              working-directory: ./backend
              run: npm ci    


            - name: compile backend 
              working-directory: ./backend
              run: npx tsc --noEmit
                

    compile_frontend:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [20,22,24] 

        steps:
            - name: checkout code 
              uses: actions/checkout@v4
              with: 
                fetch-depth: 0

            - name: setup node${{matrix.node-version}}
              uses: actions/setup-node@v4
              with:
                node-version: ${{matrix.node-version}}
                
            - name: cache dependencies
              uses: actions/cache@v4
              with:
                path: ~/.npm
                key: ${{runner.os}}-node-${{hashFiles('**package-lock.json')}}

            - name: lint frontend 
              working-directory: ./frontend
              run: | 
                npm ci
                npx eslint . --ext .js,.jsx    
                
    Gitleaks_setup:
       runs-on: ubuntu-latest
       needs: compile_frontend
       strategy:
        matrix:
          node-version: [20,22,24]

       steps:
        - name: checkout code
          uses: actions/checkout@v4
          with:
            fetch-depth: 0
            
        - name: setup node${{matrix.node-version}}    
          uses: actions/setup-node@v4
          with:
            node-version: ${{matrix.node-version}}
          
        - name: gitleaks setup
          run: gitleaks detect --source . --exit-code 1     

            

    sonarQueb_setup_frontend:
      runs-on: ubuntu-latest
      needs: Gitleaks_setup
      
      steps:
        - name: checkout code
          uses: actions/checkout@v4
          with: 
            fetch-depth: 0

        - name: sonarQueb setup frontend 
          uses: SonarSource/sonarcloud-github-action@v2
          with:
            projectBaseDir: frontend
          args: >
            -Dsonar.projectKey= lovkush7_techchautari
            -Dsornar.organization=lovkush7     
        
      env:
        SONAR_TOKEN: ${{secrets.SONAR_TOKEN}}
                
    sonarQueb_setup_backend:
      runs-on: ubuntu-latest
      needs: sonarQueb_setup_backend
      
      steps:
        - name: checkout code
          uses: actions/checkout@v4
          with: 
            fetch-depth: 0

        - name: sonarQueb setup frontend 
          uses: SonarSource/sonarcloud-github-action@v2
          with:
            projectBaseDir: backend
          args: >
            -Dsonar.projectKey= lovkush7_techchautari
            -Dsornar.organization=lovkush7     
        
      env:
        SONAR_TOKEN: ${{secrets.SONAR_TOKEN}}


    Docker_backend_build_and_push:      
      runs-on: ubuntu-latest
      needs: sonarQueb_setup_backend

      steps:
        - name: checkout code
          uses: actions/checkout@v4
          with: 
            fetch-depth: 0

        - name: login docker
          uses: docker/login-action@v3
          with: 
            username: ${{vars.DOCKER_USERNAME}}
            password: ${{secrets.DOCKER_PASSWORD}}  

        - name: setup Qemu
          uses: docker/setup-qemu-action@v3 
          
        - name: setup buildx
          uses: docker/setup-buildx-action@v3
          
        - name: build and push backend image
          uses: docker/build-push-action@v6
          with:
            context: ./backend
            push: true
            tags: myapp/backend:latest
            file: ./backend/Dockerfile

    Docker_frontend_build_and_push:      
      runs-on: ubuntu-latest
      needs: Docker_backend_build_and_push

      steps:
        - name: checkout code
          uses: actions/checkout@v4
          with: 
            fetch-depth: 0

        - name: login docker
          uses: docker/login-action@v3
          with: 
            username: ${{vars.DOCKER_USERNAME}}
            password: ${{secrets.DOCKER_PASSWORD}}  

        - name: setup Qemu
          uses: docker/setup-qemu-action@v3 
          
        - name: setup buildx
          uses: docker/setup-buildx-action@v3
          
        - name: build and push backend image
          uses: docker/build-push-action@v6
          with:
            context: ./frontend
            push: true
            tags: myapp/frontend:latest
            file: ./frontend/Dockerfile
                     

    trivy_fs_scan:
      runs-on: ubuntu-latest
      needs: Docker_frontend_build_and_push

      steps:
        - name: checkout code
          uses: actions/checkout@v4
          with:
            fetch-depth: 0

        - name: trivy fs scan
          uses: aquasecurity/trivy-action@v0.33.1
          with:
            scan-type: "fs"
            scan-ref: "."
            format: table
            vuln-type: "os,library"
            ignore-unfixed: true
            severity: "CRITICAL,HIGH"

            


                     
       
