name: trivy

on: 
  push: 
    branches: ["main"]


jobs:
    build_backend_docker_image_and_push:
      runs-on: ubuntu-latest
      


      steps:
        - name: checkout code
          uses: actions/checkout@v4

        - name: Login to docker Hub
          uses: docker/login-action@v3
          with:
            username: ${{vars.DOCKERHUB_USERNAME}}
            password: ${{secrets.DOCKERHUB_TOKEN}}

        - name: Set up QEMU
          uses: docker/setup-qemu-action@v3

        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3  

        - name: Build and push docker image
          uses: docker/build-push-action@v6
          with:
            context: ./backend
            push: true
            tags: lovekarki/myapp:latest
            file: ./backend/Dockerfile

        
        - name: trivy valunabalities scanning
          uses: aquasecurity/trivy-action@v0.33.1
          with:
            scan-type: "image"
            scan-ref: "lovekarki/myapp:latest"
            format: 'table'
            vuln-type: "os,library"
            ignore-unfixed: true

 